<header class="bloghead">
    <div class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="{{ site.avatar }}"/>
        </a>
        <div class="blogtitle">
            <h1 class="blog-title"><a href="/">{{ site.title }}</a></h1>
            <h5> PhD Student in ECE @ MSU </h5>
        </div>
    </div>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li>|</li>
            <li><a href="/archive">Archive <i class="fa fa-archive"></i></a></li>
            <li>|</li>
            <li><a href="/tags">Tags <i class="fa fa-tags"></i></a></li>
            <li>|</li>
            <li><a target="_blank" href="https://github.com/LanternD">Github <i class="fa fa-github-square fa-1x"></i></a></li>
            <li>|</li>
            <li><a href="/about">About <i class="fa fa-user"></i></a></li>
        </ul>
    </nav>
</header>
