/* extra small */
@media all and (max-width: 576px) {
  .bloghead img , .authorimage img{
    display: block;
    margin: auto;
  }
  .blogmain {max-width: 575px;}
  ul.pages {padding-left: 0px;}
  h1{font-size: 32px;}
  h2{font-size: 26px;}
  h3{font-size: 22px;}
} 

/* small */
@media all and (min-width: 577px) and (max-width: 767px) {
  .blogmain {max-width: 700px;}
} 

/* medium */
@media all and (min-width: 768px) and (max-width: 991px) {} 

/* large */
@media all and (min-width: 992px) and (max-width: 1200px) {} 

/* extra large */
@media all and (min-width: 1201px) {

  h1:before {margin-left: -15px; padding-right: 7px;}
  h2:before {margin-left: -15px; padding-right: 7px;}
  h3:before {margin-left: -15px; padding-right: 7px;}
  h2.post-title:before {margin-left: -15px; padding-right: 7px;}
  .index-pagination ul {
    margin-left: 14%;
  }
} 
@media screen and (max-width: 1025px){
    .index-pagination ul {
        display: inline-block;
        width: 98%;
    }
}

@media screen and (max-width: 750px){
    .index-pagination{
        width: 95%;
    }

    .index-pagination .page ul{width: 95%;}

    .index-pagination .page .prev{margin-left: 0%;}
    .index-pagination .page, .index-pagination .prev, .index-pagination .next{
        display: inline-block;
        padding: 2px 7px 2px 4px;
        font-size: 18px;
    }
    .index-pagination .page .current-page{
        display: inline-block;
        padding: 0px 5px 0px 5px;
        font-size: 18px;
        margin-bottom: 0px;
    }
    .index-pagination .page{margin-right: 2%;}
    .index-pagination .disabled {font-size: 18px;margin-right: 2%;margin-left: 1%;padding: 2px 7px 2px 4px;}
}

p {
    margin-left: 5px;
}

h1.article-title {font-weight: normal;color: #0f0a42;}
h1.article-title:before {content:"";}

h1.blog-title {font-weight: bolder;}
h1.blog-title:before {content:"";}
h1#lanternds-castle.blog-title:before {content:"";}

h1 {
    font-weight: bold;
    color: #cd0707;
}
h1:before {
    content:"҂ ";
/*    margin-left: -15px;
    padding-right: 7px;*/
}

h2 {
    color: #2c0000;
}
h2:before {
    content:"⌬ ";
    /*margin-left: -15px;
    padding-right: 7px;*/
}
h2.post-title:before {content:"㋯ ";font-size: 22px; color: #00868e;}

h3:before {
    content:"⚞ ";
/*    margin-left: -15px;
    padding-right: 7px;*/
}

.blogbody {
}

/* Header */
.bloghead {
    position: relative;
    /*padding: 2rem 1rem;*/
    font-weight: 200;
    color: #333;
    text-align: left;;
    /*text-shadow: 0 1px 0 rgba(0,0,0,.1);*/
    background-color: #fff;
    max-width: 700px;
    width: 90%;
    margin: 30px auto;
/*background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:         linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;*/
}

.authorheader {
    text-align: left;
}

.blogtitle {
    font-weight: 400;
    color: #000;
    margin-top: 0;
    margin-bottom: 1rem;
    /*font-size: 18px;*/
    font-family: courier;
    display: inline-block;
}

.blogtitle h1 {
    margin-top: 10px;
}

.bloghead p {
    font-weight: 400;
}

.bloghead img , .authorimage img{
    height: 85px;
    padding: 10px;
    vertical-align: top;
}

nav {
    border-bottom: 1px solid #ecf0f1;
    border-top: 1px solid #ecf0f1;
    margin-bottom: 2em;
    text-align: center;
    max-width: 650px;
    /*margin: 20px auto 2em auto;*/
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0 .5em;
    text-align: center;
    /*text-transform: uppercase;*/
}

nav ul li a {
    display: block;
    padding: .5em 0;
    color: #3498db;
}

nav.menu {
    margin-bottom: 2.5em;
}

nav.menu li {
    margin: 0 .5em;
    padding: 0;
}

nav.menu li:last-child {
    margin: 0;
}

/****
 * Main body
 */

.blogmain {
    max-width: 700px;
    width: 90%;
    margin: 10px auto;
    font-family: "Merriweather", "Roboto Slab", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
    font-size: 16px;
    line-height: 1.8em;
}

article.preview {
    margin-bottom: 4em;
}

.post-title {
    text-align: left;
}

.post-section {
    font-size: 16px;
}

.post-time {
    color: #95a5a6;
    font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1em;
}

p.readmore {
    color: #337ab7;
    margin-top: 1em;
    text-align: right;
}

/**
 * 文章全文
 */

blockquote {
    font-family: "Montserrat", Arial;
    font-size: 14px;
}

.article-title {
    text-align: center;
}

.article-time {
    color: #95a5a6;
    font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.article-hint {
    color: #95a5a6;
    font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: inset;
}

.article-footer {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    /*
    border-top: 1px solid #ecf0f1;*/
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: rgb(236, 240, 241);
    margin-top: 40px;
    margin-bottom: 40px;
}

section.author, section.share {
    width: 100%;
    text-align: left;
    text-transform: none;
    margin-top: 20px;
    font-size: 12px;
}

div.authorimage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    margin-right: 20px;
    float: left;
}

.smenu {
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: 50px;*/
}

.footer-copyright {
    padding: 30px 0;
    text-align: center;
    color: #f0f0f0;
    background-color: #575757;
    background-color: rgba(51, 123, 181, 0.6);
    font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L",sans-serif;
    margin-top: 40px;
}


.footer-navi {
    text-align:right;
    margin-right:1%;
    margin-bottom:-43px;
    margin-top: 22px;
}
.footer-navi a{
    color:#808080;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-primary{
    background-color: #ccd8e2;
}

div.back-top {
    display: block;
    width: 45px;height: 34px;
    border-radius: 4px;
    position:fixed;right:15px;bottom:20px;
    background-color:#fafafa;
}

/*Pagination CSS*/

.pagination { 
    display: block;
    height: 89px;
    margin-top: 10px;
    margin-bottom: 20px; 
    margin-left: 2%
}
.pagination .prev, .pagination .next {
    border-radius: 10px;
    font-size: 14px;
    background-color: #f5f5f5;
    display: inline-block;
    padding: 2px 5px 2px 5px;
}
.pagination ul {margin-left: -8%;}
.pagination .prev{float: left;}
.pagination .next{
    float: right;
    margin-right: 0%;
}
.pagination a:hover{text-decoration:none;}
.pagination .disabled {
    background-color: #ed8a8a;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin-bottom: 10px;
}

/*Pagination at Index of the site*/

.index-pagination {
    display: block;
    /*height: 65px;*/
    width: 98%;
    margin-top: 100px;
    margin-bottom: 30px;
    /*margin-left: 2%;*/
    padding-bottom: 30px;
}

.index-pagination .prev, .index-pagination .next {
    border-radius: 10px;
    font-size: 20px;
    background-color: #cdcdcd;
    display: inline-block;
    padding: 4px 10px 4px 10px;
}

.index-pagination ul {
    display: inline-block;
    width: 98%;
}
}

.index-pagination .prev{
    margin-right: 3%;
}

.index-pagination .page .current-page{
    background-color: #898989;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 10px 4px 10px;
    margin-bottom: 10px;
}

.index-pagination .page{
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    margin-bottom: 10px;
    margin-right: 2%;
}

.index-pagination .next{
    /*float: right;*/
    /*margin-left: 3%;*/
    display: inline-block;
}

.index-pagination a:hover{
    text-decoration:none;
}

.index-pagination .disabled {
    background-color: #ed8a8a;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    margin-bottom: 10px;
    margin-right: 2%;
    margin-left: 1%;
}

/*Comment css*/

#disqus_container {font-size:14px;margin-bottom: 10px;margin-top: 5px;}
#disqus_container a.comment {font-size:18px; background: transparent;}
#disqus_container span.comment-count {font-size:18px; color: #4A75B5;}

/*Tag cloud css*/

li.listing-item {
    margin-left: 3%;

}

#tag_could {
    width: 90%;
    margin: 40px 0 40px;
    margin-left: 5%;
    line-height: 2em;

}

#tag_cloud a {text-decoration: none;}
#tag_cloud a:hover {text-decoration: none;}



::-webkit-scrollbar {  width:8px;  margin-right:2px}
::-webkit-scrollbar:horizontal {  height:8px;  margin-bottom:2px}
::-webkit-scrollbar-track {    border-radius: 8px;}
::-webkit-scrollbar-track-piece {    background-color: #EEEEEE;  border-radius: 8px;}
::-webkit-scrollbar-thumb {  width:10px;    border-radius: 5px;    background: #bababa; }
::-webkit-scrollbar-thumb:hover {  background: #6d6d6d; }

/*Images*/

.blogmain p img {
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Code block extra styles*/
div.highlighter-rouge {
	margin-bottom: 10px;
}